
# A. Notebook Tutorial One
ASSIGNMENT
* HOW CAN I put a link into a markdown cell
* how can I add a picture
* How can I add a table

# B. Python Basics Two
Assignment
1. Removing items from a list and a dictionary
We saw how to add items to a list (using append) and to a dictionary (by assigning a new item). How can we remove items from a list or a dictionary though? Create a list and a dictionary below, and remove one item from each of them.
2. Playing with strings
How can you convert the variable below to lower case?
allupper = 'THIS TEXT IS COMPLETELY IN UPPER CASE!'
How can we convert this string into a list of words?
sentence = '''This is a sentence with words separated by a lot of spaces.
How can we split it into a list of words?'''
3. Organizing data
This is the most important challenge of this tutorial, as we will use the concepts here to think how to organize our (digital) data. The paragraph below contains a lot of information. How would you organize this data in a way that you can visualize and work with it later? Consider using lists, dictionaries, tuples... or whatever makes sense to you!
Please explain why you decided to do what you did.
John Smith is 32 years old, is an analyst at Salesforce UK, and is father to a young boy. He is divorced. Mary Smith is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokaw is a US journalist, born in 1940, married with three children.

# C.Python Basics Three
Assignment
Challenge 1
Create a function that tests if an element of a list is a number or a string. If it is a number, it should return its value divided by two. If it is a string, it should return the length of the string.
Challenge 2
The table below contains a dataset containing customer IDs, ages, the name of the website they visited, and whether they clicked on the ad. You need to do three things:
Move this table to a data structure (list, dictionary, list of lists... or whatever you prefer)
Create a function that categorizes the website type (define a categorization that you find meaningful)
Create a function that categorizes the customers according to age groups (define which age groups you want to use)
CID	Age	Website	Click
1	19	NBC	1
2	25	New York Times	0
3	41	Facebook	0
4	37	Twitter	1
5	64	Buzzfeed	1
6	50	CBS	0
7	18	The Guardian	0
8	55	Google News	1

https://github.com/uva-cw-digitalanalytics/1617S2/blob/master/1_Week1/t4_PythonBasics3.ipynb -> there is the table

# SOLUTIONS FOR A

* Create simple links by wrapping square brackets around the link text and round brackets around the URL:

this [link](http://nestacms.com/docs/creating-content/markdown-cheat-sheet) will explain you how to insert a link

* this is how you insert a picture:


Pic1:

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Pic2:

![alt text](http://support.mediacore.com/customer/portal/attachments/97839)

![alt text](/Users/isabelle/Pictures/Background)

* Finally, this is how you add a table: 

Colons can be used to align columns.

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

There must be at least 3 dashes separating each header cell.
The outer pipes (|) are optional, and you don't need to make the 
raw Markdown line up prettily. You can also use inline Markdown.

Markdown | Less | Pretty
--- | --- | ---
*Still* | `renders` | **nicely**
1 | 2 | 3

Click [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#images) for the source

# SOLUTIONS for B

### 1. Removing items from list and dictionnaries...

First I have to create a list and a dictionnary

In [7]:
mylist= [345, 'love', 'hate', 'anger', 'pizza']

In [8]:
mydictionnary = {
    '345' : 'number', 'love': 'emotion', 'hate': 'emotion', 'anger': 'emotion', 'pizza': 'food'
}

In [9]:
print(mylist)

[345, 'love', 'hate', 'anger', 'pizza']

In [10]:
print(mydictionnary)

{'345': 'number', 'love': 'emotion', 'hate': 'emotion', 'anger': 'emotion', 'pizza': 'food'}

NOW, I can **remove** items from my list and dictionnary 

List: use the .remove function [source](https://www.tutorialspoint.com/python/list_remove.htm)

In [11]:
mylist.remove('pizza')

In [12]:
print(mylist)

[345, 'love', 'hate', 'anger']

I can remove items from a dictionnary using the .pop function:

In [13]:
mydictionnary.pop('pizza')

'food'

In [14]:
print(mydictionnary)

{'345': 'number', 'love': 'emotion', 'hate': 'emotion', 'anger': 'emotion'}

### 3. Playing with strings 

* How can you convert the variable below to lower case? allupper = 'THIS TEXT IS COMPLETELY IN UPPER CASE!' 
* How can we convert this string into a list of words? sentence = '''This is a sentence with words separated by a lot of spaces. How can we split it into a list of words?

First of all, I create two strings for the two exercises

In [15]:
a='THIS TEXT IS COMPLETELY IN UPPER CASE!'

In [16]:
b='This is a sentence with words separated by a lot of spaces. How can we split it into a list of words?'

In [17]:
str.lower(a)

'this text is completely in upper case!'

In [18]:
a

'THIS TEXT IS COMPLETELY IN UPPER CASE!'

In [22]:
a= str.lower(a)

In [23]:
a

'this text is completely in upper case!'

In [26]:
str.split(b)

['This',
 'is',
 'a',
 'sentence',
 'with',
 'words',
 'separated',
 'by',
 'a',
 'lot',
 'of',
 'spaces.',
 'How',
 'can',
 'we',
 'split',
 'it',
 'into',
 'a',
 'list',
 'of',
 'words?']

In [27]:
b

'This is a sentence with words separated by a lot of spaces. How can we split it into a list of words?'

In [28]:
b= str.split(b)

In [29]:
b

['This',
 'is',
 'a',
 'sentence',
 'with',
 'words',
 'separated',
 'by',
 'a',
 'lot',
 'of',
 'spaces.',
 'How',
 'can',
 'we',
 'split',
 'it',
 'into',
 'a',
 'list',
 'of',
 'words?']

### 3. Organizing data

* How would you organize this data in a way that you can visualize and work with it later? 

*Consider using lists, dictionaries, tuples... 

Please explain why you decided to do what you did. 

John Smith is 32 years old, is an analyst at Salesforce UK, and is father to a young boy. He is divorced. 
Mary Smith is 21 years old, currently studies at the University of Amsterdam, and was born in the US. 
Tom Brokaw is a US journalist, born in 1940, married with three children.

-> I think I would make lists for the categories name, age, location of birth, profession, number of children, marriage status
-> this would allow me to put the data in the table and to display the different categories in graphs if I have more information on more people

In [30]:
age_list = [32, 21, 77]

In [31]:
firstname_list = ['John', 'Mary', 'Tom']

In [32]:
lastname_list = ['Smith', 'Smith', 'Brokaw']

In [35]:
t = table([age_list, firstname_list, lastname_list],names=('age', 'first name', 'last name'))

NameError: name 'table' is not defined

Here are the kind of packages you can use to create tables... however, we have not learned how to install packages in pyhton yet http://stackoverflow.com/questions/9535954/printing-lists-as-tabular-data

I changed my mind and I am going to create strings or lists according to the people...

In [43]:
a = ['John Smith', 32, 'UK', 'analyst', 'divorced', 1]
b = ['Mary Smith', 21, 'Netherlands', 'student', 'unmarried', 0]
c = ['Tom Brokaw', 77, 'US', 'journalist', 'married', '3']

Now, you could use these lists for a table in which the columns are named: name, age, country of residence, marriage status, number of children

However, I think the data has to be adapted to the purpose you want to use it for. You could also create dictionaries for each person if you are not interested in larger displays but the information obtained about one person...

# SOLUTION for C

* Create a function that tests if an element of a list is a number or a string. 

*If it is a number, it should return its value divided by two. If it is a string, it should return the length of the string. 

* The table below contains a dataset containing customer IDs, ages, the name of the website they visited, and whether they clicked on the ad. You need to do three things: 
1. Move this table to a data structure (list, dictionary, list of lists... or whatever you prefer) 
2. Create a function that categorizes the website type (define a categorization that you find meaningful) 
3. Create a function that categorizes the customers according to age groups (define which age groups you want to use) 


https://github.com/uva-cw-digitalanalytics/1617S2/blob/master/1_Week1/t4_PythonBasics3.ipynb -> there is the table

#### Create a function

There already is a function type()
it returns float, int or str

* first, i need to create a list with numbers and strings
* then i need to include this function into another function

In [44]:
x = [345, 'love', 'hate', 'anger', 'pizza']

In [46]:
x[1]

'love'

In [47]:
type(x[1])

str

In [51]:
type(x[0])

int

In [77]:
def challenge_x(item):

    if type(item) == int:
        return item/2
  
    elif type(item) == str:
        return len(x)

In [78]:
challenge_x(x[1])

5

In [79]:
challenge_x(x[0])

172.5

#### Challenge 2

CID	Age	Website	Click
1	19	NBC	1
2	25	New York Times	0
3	41	Facebook	0
4	37	Twitter	1
5	64	Buzzfeed	1
6	50	CBS	0
7	18	The Guardian	0
8	55	Google News	1

In [80]:
CID	Age	Website	Click
1	19	NBC	1
2	25	New York Times	0
3	41	Facebook	0
4	37	Twitter	1
5	64	Buzzfeed	1
6	50	CBS	0
7	18	The Guardian	0
8	55	Google News	1

SyntaxError: invalid syntax (<ipython-input-80-374c9d47715a>, line 1)

* Create a function that categorizes the website type (define a categorization that you find meaningful) 
* Create a function that categorizes the customers according to age groups (define which age groups you want to use)

In [81]:
list_age = [19, 25, 41, 37, 64, 50, 18, 55]

In [82]:
list_websites = ['NBC', 'New York Times', 'Facebook', 'Twitter', 'Buzzfeed', 'CBS', 'The Guardian', 'Google News']

In [95]:
def cat_age(item):
    dic_age = {
        18 : 'Group1', 19: 'Group1', 20: 'Group1', 21: 'Group2', 25: 'Group2', 37: 'Group3', 41: 'Group4', 50: 'Group4', 55: 'Group4', 64: 'Group5' 
    }
    return dic_age

In [96]:
cat_age(list_age[1])

{18: 'Group1',
 19: 'Group1',
 20: 'Group1',
 21: 'Group2',
 25: 'Group2',
 37: 'Group3',
 41: 'Group4',
 50: 'Group4',
 55: 'Group4',
 64: 'Group5'}

In [88]:
dic_age[18]

'Group1'

In [85]:
list_age[1]

25

In [116]:
def cat_age(item):
    dic_age = {
        18 : 'Group1', 19: 'Group1', 20: 'Group1', 21: 'Group2', 25: 'Group2', 37: 'Group3', 41: 'Group4', 50: 'Group4', 55: 'Group4', 64: 'Group5' 
    }
    return dic_age[item]

In [117]:
cat_age(list_age[5])

'Group4'

In [102]:
web_dic = {
    'NBC': 'news', 'New York Times': 'news', 'Buzzfeed': 'news', 'CBS': 'news', 'The Guardian': 'news', 'Google News': 'news', 'Facebook': 'socialmedia', 'Twitter': 'socialmedia'
}

In [114]:
def cat_website(item):
    web_dic = {
    'NBC': 'news', 'New York Times': 'news', 'Buzzfeed': 'news', 'CBS': 'news', 'The Guardian': 'news', 'Google News': 'news', 'Facebook': 'socialmedia', 'Twitter': 'socialmedia'
}
    return web_dic[item]

In [106]:
web_dic['NBC']

'news'

In [115]:
cat_website(list_websites[3])

'socialmedia'